html,body{
  min-height: 100%;
  width: 100%;
  padding:0;
  margin:0;
}
div{
  box-sizing: border-box;
}

div.frame {
  min-height: 99%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin:0;

  border: solid 1px blue;
}
div.footer {
  min-height: 100%;
  width: 100%;
  border: solid 1px red;
  padding:0.5em;
}
div.copyright {
  width: 100%;
  padding:0.5em;
  text-align: center;
}
div.header {
  min-height: 100%;
  width: 100%;
  border: solid 1px green;
  padding:0.2em;
}
div.title {
  font-size: 2em;
  font-weight: bold;
  background-color:#c23cc1;
  padding:0.5em;

}
div.FileUploadArea {
  min-height: 100%;
  width: 100%;
  border: dotted 1px black;
  background-color:#a8bae0;
  padding-top:5em;
  padding-bottom: 5em;
  text-align: center;
  font-size: 2em;
}
div.FilesArea{
  min-height: 100%;
  width: 100%;
  border: dotted 1px black;
  background-color:rgb(124, 110, 241);
  padding-top:1em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 2em;

}
[draggable] {
  user-select: none;
}
.column {
  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}
.column.over {
  border: 2px dashed #000;
}
.column header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
